{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<body>

    <div style="padding: 10px;">
    </div>

    <div class="scroll-table">  
        <table class="table">
            <tr class="theader">
                <th>#</th>
                <th>Data inregistrarii</th>
                <th>Nr. si data documentului</th>
                <th>De unde povine documentul</th>
                <th>Continutul documentului</th>
                <th>Repartizare</th>
                <th>Data Expedierii</th>
                <th>Destinatar</th>
                <th>Nr. de inreg. conex. doc. indc. dos.</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>

    <script>
        fetch('/table/last_element')
          .then(response => {
            // Check if the response is OK (status 200)
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            // Parse the JSON response
            return response.json();
          })
          .then(data => {
            // Once JSON data is fetched, do something with it
            console.log(data);
            const lastElementId = document.getElementById('last_element');
            lastElementId.textContent = data;
          })
          .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
          });
      </script>

    <div class="card-wrapper">
        <div class="card">
            <h2 class="center">Adaugă un rand nou in registru</h2>
            <p>
            <form name="entry_form">
                <label for="name">Nr. de inregirare al ultimului element</label>
                <h5 id="last_element"></h5>

                <label for="name">Nr. de inregistrare (optional)</label>
                <input type="number" name="id" class="field">
                <label for="name">Data</label>
                <input type="date" name="data" class="field" required>

                <label for="name">Nr. și data documentului</label>
                <input type="text" name="nr_si_data" class="field">

                <label for="name">De unde provine documentul</label>
                <input type="text" name="provine_doc" class="field">

                <label for="name">Continut pe scurt al documentului</label>
                <input type="text" name="cont_scurt" class="field">

                <label for="name">Compartimentul căruia i s-a repartizat documentul si semnătura de primire</label>
                <input type="text" name="comp_repartizat" class="field">

                <label for="name">Data expedierii</label>
                <input type="date" name="data_expedierii" class="field">

                <label for="name">Destinatar</label>
                <input type="text" name="destinatar" class="field">

                <label for="name">Nr. de inregistrare la care se conex. doc. si indic. dos.</label>
                <input type="text" name="nr_inregistrare" class="field">

                <p class="error error--hidden"></p>

                <input type="submit" value="Trimite inregistrare" class="btn">
            </form>
            </p>
        </div>

        <div class="card">
            <h1 class="center">Crează un cont</h1>
            <form name="signup_form">
                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <label for="admin">Admin</label>
                <input type="checkbox" name="admin">

                <p class="error error--hidden"></p>

                <input type="submit" value="Crează" class="btn">
            </form>
        </div>


        <div class="card">
            <h2 class="center">Export Excel</h2>

            <label for="yearSelect">Select a Year:</label>
            <select id="yearSelect"></select>

            <div class="center">
                <div id="error-message" style="color: red;"></div>
                <a id="downloadButton" class="btn btn--secondary">Download</a>
            </div>

            <script>
                async function populateSelect() {
                    try {
                        const response = await fetch('/table/collections');
                        const jsonData = await response.json();
                        var selectElement = document.getElementById("yearSelect");

                        // Iterate through the JSON data and create option elements
                        jsonData.forEach(function (option) {
                            var optionElement = document.createElement("option");
                            optionElement.value = option;
                            optionElement.text = option;
                            selectElement.appendChild(optionElement);
                        });
                    } catch (error) {
                        console.error('Error fetching collections:', error);
                    }
                }

                //delete_row
                async function deleteRow(row) {
                    try {
                        $.ajax({
                            url: "/entry/delete/" + row,
                            type: "DELETE",
                            success: function () {
                                location.reload(true);
                            },
                        });
                    }
                    catch (error) {
                        console.error('Error deleting table contents:', error);
                    }
                }

                //populate table
                async function populateTable() {
                    try {
                        const table = document.querySelector('.table');
                        const response = await fetch('/table/show');
                        const jsonData = await response.json();

                        jsonData.forEach(item => {
                            const row = document.createElement('tr');
                            row.classList.add('row');
                            row.innerHTML = `<td class="cell">${item._id}</td><td class="cell">${item.data_inregistrarii}</td><td class="cell">${item.nr_si_data_documentului}</td><td class="cell">${item.de_unde_provine_documentul}</td><td class="cell">${item.continutul_documentului}</td><td class="cell">${item.repartizare}</td><td class="cell">${item.data_expedierii}</td><td class="cell">${item.destinatar}</td><td class="cell">${item.nr_de_inregistrare_conex_doc_indic_dos}</td> <td class="cell"><button class="delete-btn" onclick="deleteRow('${item._id}')"> <i class="fa fa-trash-o" style="font-size:24px;color:white"> </i></button></td>`;
                            table.appendChild(row);
                        });


                    } catch (error) {
                        console.error('Error fetching table contents:', error);
                    }
                }
                //populate main objects
                populateTable();
                populateSelect();

                //download action
                document.getElementById("downloadButton").addEventListener("click", function () {
                    var selectedOption = document.getElementById("yearSelect").value;
                    var errorMessageElement = document.getElementById('error-message');
                    console.log(selectedOption);
                    $.ajax({
                        type: "GET",
                        url: "/table/download/",
                        data: { "selectedOption": selectedOption },
                        contentType: "application/json;charset=UTF-8",
                        success: function (response) {
                            errorMessageElement.textContent = "";
                            window.location.href = "/table/download/" + selectedOption;
                        },
                        error: function (resp) {
                            errorMessageElement.textContent = "Table not found";
                        }
                    });
                });
            </script>
        </div>

        <div class="card">
            <h2 class="center">Your Info</h2>
            <p>
                <strong>Name:</strong> {{ session['user']['name'] }}<br>
                <strong>Email:</strong> {{ session['user']['email'] }}<br>
                <strong>Role:</strong> {{ session['user']['role'] }}<br>
            </p>
            <p class="center">You are currently logged in.</p>
            <div class="center">
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
{% endblock %}